*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  font-size: 20px;
  font-family: $base-font, sans-serif;
  line-height: 1.5;
  margin: 0;
}

img {
  max-width: 100%;
}
