// colors
$white: #f3ede9;
$black: #5b5b5b;
$primary-color: #ff5e00;

// Fonts
$base-font: 'Futura PT';
$headings-font: 'Jost';
// $base-font: 'Montserrat', sans-serif;

// Transitions
$transition-base: 0.15s ease-in-out;
