// Colors
$white: #fff;
$black: #000;
$linen: #f3ede9;
$gray: #5b5b5b;
$primary-color: #ff5e00;

// Fonts
$base-font: Montserrat; // 'Futura PT';
$headings-font: inherit; // 'Jost';
// $base-font: 'Montserrat', sans-serif;

// Transitions
$transition-base: 0.15s ease-in-out;

// Links
$link-color: $primary-color;

// Breakpoints
$mobile-small: 480px;
$mobile: 768px;
$tablet: 992px;
$desktop: 1200px;
$desktop-large: 1680px;
